# Server
PORT=4000

# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET=

# MongoDB connection string
MONGODB_URL=

# Email (Nodemailer)
MAIL_HOST=smtp.gmail.com
MAIL_USER=
MAIL_PASS=

# Cloudinary
CLOUD_NAME=
API_KEY=
API_SECRET=
FOLDER_NAME=StudyNotion

# Razorpay
RAZORPAY_KEY=
RAZORPAY_SECRET=
